@use "sass:map";
@import "../../style/pages/all";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-modal-content {
  background: #fff;
  border-radius: 20px;
  width: 450px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.logo-img {
  width: 174px; /* Kích thước logo */
  height: 154px;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: map.get($theme-colors, "main");
}

.login-form {
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}

.login-form input[type="number"],
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
  color: map.get($theme-colors, "normal-text");
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input-wrapper input {
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #555;
  padding: 0;
  height: 100%;
}

.options-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-size: 15px;
}

.remember-me {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

.forgot-password {
  color: map.get($theme-colors, "main");
  text-decoration: none;
}

.login-btn {
  width: 100%;
  background-color: map.get($theme-colors, "main");
  color: white;
  border: none;
  padding: 15px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 15px;
}

.login-btn:hover {
  background-color: #2f855a;
}

.signup-link {
  text-align: center;
  font-size: 15px;
  color: #555;
}

.register-now {
  color: map.get($theme-colors, "main");
  font-weight: 600;
  text-decoration: none;
}
