$MEDIUM_DEVICE: "MEDIUM_DEVICE";
$TABLET_DEVICE: "TABLET_DEVICE";
$MOBILE_DEVICE: "MOBILE_DEVICE";
$DESKTOP: "DESKTOP";
$SMALL_DEVICE: "SMALL_DEVICE";

@mixin Responsive($device) {
    @if $device ==$MEDIUM_DEVICE {
        @media only screen and (max-width: 1199px) and (min-width: 992px) {
            @content;
        }
    }

    @else if $device ==$TABLET_DEVICE {
        @media only screen and (max-width: 991px) and (min-width: 768px) {
            @content;
        }
    }

    @else if $device ==$MOBILE_DEVICE {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }

    @else if $device ==$DESKTOP {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }

    @else if $device ==$SMALL_DEVICE {
        @media only screen and (max-width: 575px) {
            @content;
        }
    }
}